#hero {
  height: 800px;
  background-image: url("images/places/ocean.jpg");
  background-size: cover;
  background-position: center;
}

#hero-content {
  align-items: center;
  text-align: center;

  width: 900px;
  background-color: rgba(51, 47, 47, 0.5);
  box-shadow: 2px 4px 8px rgba(68, 67, 67);
  border-radius: 8px;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  font-family: "raleway", sans-serif;
  margin: 0;
  color: #fff;
}

#hero-content p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero-content a {
  display: inline-block;
  background-color: rgb(255, 251, 0);
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 4px 8px rgba(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgb(245, 243, 160);
}

#destinations {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.destination img {
  height: 200px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 2px 4px 8px rgba(68, 67, 67);
  object-fit: cover;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

.destination p {
  text-align: center;
  font-size: 20px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}

.destination strong {
  color: rgb(0, 160, 117);
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(59, 65, 64);
  font-size: 40px;
  margin: 24px 0;
}

#highlights {
  padding: 24px;
  background: linear-gradient(45deg, rgb(227, 255, 253), rgb(202, 243, 240));
}
